<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLReportBuilder"
	iconfile="reportbuilder.png"
	description="ReportBuilder"
	tooltip="ReportBuilder" 
	category="HPCC EDA"
	classname="org.hpccsystems.pentaho.job.eclreportbuilder.ECLReportBuilder">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclreportbuilder.jar"/>
    </libraries>            
</plugin>
